In [1]:
import pandas as pd

In [2]:
#Create a Dictionary
data={ 
    'name':['Easin','Shafin','Sanim'],
    'age': [24,23,22],
    'city':['Dinajpur','Dhaka','Brisal']
}

In [3]:
data

{'name': ['Easin', 'Shafin', 'Sanim'],
 'age': [24, 23, 22],
 'city': ['Dinajpur', 'Dhaka', 'Brisal']}

In [8]:
#create a Series from the dictionary
name_series=pd.Series(data['name'])
name_series

0     Easin
1    Shafin
2     Sanim
dtype: object

In [6]:
name_series1=pd.Series(data['name'],name='Name')
name_series1

0     Easin
1    Shafin
2     Sanim
Name: Name, dtype: object

In [9]:
df=pd.DataFrame(data)
df

     name  age      city
0   Easin   24  Dinajpur
1  Shafin   23     Dhaka
2   Sanim   22    Brisal

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
age_series=df['age']
age_series

0    24
1    23
2    22
Name: age, dtype: int64