In [1]:
import pandas as pd

In [2]:
#create list
data=[1,2,4,3,56,2]

In [3]:
data

[1, 2, 4, 3, 56, 2]

In [4]:
type(data)

list

In [6]:
#create a list
s=pd.Series(data)
s

0     1
1     2
2     4
3     3
4    56
5     2
dtype: int64

In [8]:
#create a data frame from the list
df=pd.DataFrame(s, columns=['nums'])
df

   nums
0     1
1     2
2     4
3     3
4    56
5     2

In [9]:
data

[1, 2, 4, 3, 56, 2]

In [12]:
#create DataFrame frome the Series
df1=pd.DataFrame(data,columns=['num2'])
df1

   num2
0     1
1     2
2     4
3     3
4    56
5     2

In [13]:
type(df1)

pandas.core.frame.DataFrame

In [14]:
s2=df1['num2']
s2

0     1
1     2
2     4
3     3
4    56
5     2
Name: num2, dtype: int64

In [15]:
type(s2)

pandas.core.series.Series

In [16]:
#Create a Series for 2 integer Colums
data=[[1,2],[3,4],[5,8]]
data

[[1, 2], [3, 4], [5, 8]]

In [17]:
#Create a DataFrame From the list and rename the colums
df= pd.DataFrame(data)
df

   0  1
0  1  2
1  3  4
2  5  8

In [18]:
type(data)

list

In [20]:
df=pd.DataFrame(data, columns=['nums1','nums2'])
df

   nums1  nums2
0      1      2
1      3      4
2      5      8

In [21]:
type(df)

pandas.core.frame.DataFrame

In [23]:
#create a Series From the DataFrame
s=df[['nums1','nums2']]
print(s)

   nums1  nums2
0      1      2
1      3      4
2      5      8