In [5]:
#set  unorder & Series order  ------>used list/tuple
import pandas as pd

In [6]:
#Set to Series and DataFrame
s1={1,2,3,4,5,7,10}
s1

{1, 2, 3, 4, 5, 7, 10}

In [7]:
type(s1)

set

In [8]:
s=pd.Series(list(s1))
s

0     1
1     2
2     3
3     4
4     5
5     7
6    10
dtype: int64

In [12]:
df =pd.DataFrame(s,columns=['Set Value'])
df

   Set Value
0          1
1          2
2          3
3          4
4          5
5          7
6         10

In [13]:
#Tuple to Series and DataFrame
t= (1,2,3,4,5,6,True,False)
t

(1, 2, 3, 4, 5, 6, True, False)

In [14]:
s=pd.Series(t)
s

0        1
1        2
2        3
3        4
4        5
5        6
6     True
7    False
dtype: object

In [16]:
df=pd.DataFrame(t,columns=['Set Value'])
df

  Set Value
0         1
1         2
2         3
3         4
4         5
5         6
6      True
7     False